
/* navigation */


#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
}

.text-white {
	color: FFF; 
}

.background-black {
	background-color: #292929;
}



/*.active { background-color: #FFF}*/

.header.active {color:#777;background-color:#696868} 


.main {
	background-image: url("../images/Toronto.jpg");
	/*height: 700px;*/
	width: auto;
	height: 600px;
	background-size: cover;
	background-position: center; 
}



.about-us{
	text-align: center;
	color: black;
	padding-bottom: 1rem;
}

.project-title{
	text-align: center;
	color: white;
	padding: 2rem 0rem 2rem 0rem;
}

.about-title{
	text-align: center;
	color: black;
	padding: 4rem 0rem 2rem 0rem;
}

.profile-blurb{
	text-align: center;
	padding: 0rem 4rem 1rem 4rem;
}


.blog-image{
	width: 200px; 
	height: 200px; 
	margin: auto;
	display: block;
}

.four-corner{
    border-radius: 10px;
}

.box-shadow {
    text-shadow: 2px 2px 292929;
}

.link-size{
	font-size: 1.25rem;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: rgb(105,105,105);
}

footer {
	background-color: black;
}

.footer-text {
	color: white;
	text-align: center;
	font-size: 1rem;
	padding: 1rem 0rem 1rem 0rem; 
	margin: 0%;
}

.map {
	width: auto;
	background-size: cover;
	background-image: url("../images/map.jpg");
	margin: 0%;
	height: 400px;	
}


.blog-color{
	background-color: rgb(235,235,235);
}



.project_1 {
	background-image: url("../images/web_1.png");
	width: auto;
	background-size: cover;
	background-position: center; 
}



/* Contact form styling */

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
	width: 100%;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

input[type=radio] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}






