/* General */

.text-white{
	color: FFF; 
}

.background-black{
	background-color: #292929;
}

/* Banner Section */
.main {
	background-image: url("../images/Toronto-min.jpg");
	width: auto;
	height: 600px;
	background-size: cover;
	background-position: center; 
}

.social-icon{
	width: 40px; 
	height: 40px;
}

.slogan{
	font-size: 3.75rem;
	color: white;
	padding-top: 20rem;
	margin: 0%;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Open Sans Condensed', sans-serif;
}
.about-us{
	color: black;
	padding-bottom: 1rem;
}

.project-title{
	color: white;
	padding: 2rem 0rem 2rem 0rem;
}

.about-title{
	color: black;
	padding: 4rem 0rem 2rem 0rem;
}

.profile-blurb{
	padding: 0rem 4rem 1rem 4rem;
}

.blog-image{
	width: 200px; 
	height: 200px; 
	margin: auto;
	display: block;
}

.four-corner{
    border-radius: 10px;
}

.box-shadow {
    text-shadow: 2px 2px 292929;
}

.link-size{
	font-size: 1.25rem;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: rgb(105,105,105);
}

footer {
	background-color: black;
}

.footer-text {
	color: white;
	font-size: 1rem;
	padding: 1rem 0rem 1rem 0rem; 
	margin: 0%;
}

.blog-color{
	background-color: rgb(235,235,235);
}

.project{
	
	background-image: url("../images/web_1.png");
	height: 400px;
	background-size: cover;
	background-position: center; 
}

.project2{
	
	background-image: url("../images/web_1.png");
	height: 400px;
	background-size: cover;
	background-position: center; 
}

.logo{
    width: 7rem; 
    height: 7rem;
    padding-left: 1rem;
}



/* Contact form styling */
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
textarea {
	width: 100%;
}
select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
input[type=radio] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

/* map */
.map{
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 30rem;
}
iframe{
  height: 100%;
  width: 100%;
  border: 0;
}

/* Font Awesome */
.car{
    font-size: 3.75rem;
    color: red;
}

.fa-5x{
    font-size:16em;
}










